.info-text {
  padding-left: 20px;
  color: #437375;
  font-size: 1.1em;
}
.form-group {
  & > label {
    font-weight: bold;
  }
}
.star-icon {
  font-size: 60px;
}
.tab-container {
  height: 330px;
  overflow-y: auto;
}
.correct-answers {
  border-top: 1px solid green;

  label {
    color: green;
  }
}
.wrong-answers {

  border-top: 1px solid red;
  label {
    color: red;
  }
}