/* You can add global styles to this file, and also import other style files */
body {
  background: #f6f6f6 !important;
  height: 100vh;
  width: 100vw;
}

#app-component {
  height: 100vh;
}

.size-increased {
  font-size: 25px !important;
  letter-spacing: 0.5px !important;
}

.modal-open .modal {
  display: block;
}

.p-tooltip {
  color: #17a2b8;
  cursor: pointer;
  font-size: 20px;
}

.close {
  cursor: pointer;
  position: relative;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.modal-dialog {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.modal-title {
  color: #6b757d;
  letter-spacing: 2px;
}

hr {
  border-top: 1px solid rgb(95, 158, 160) !important;
}

a.carousel-control-next,
a.carousel-control-prev {
  background: black;
  cursor: pointer;
}
.carousel-item,
.carousel-inner {
  outline: none;
}