<div class="article-page">
    <div class="container-fluid h-100">

        <div class="row body" *ngIf="article && article.sentences && article.sentences.length">

            <ng-template #sentenceList>
                <div class="container mt-5">
                    <div class="row">

                        <div class="offset-md-1 col-md-5">
                            <div class="info-text text-center w-100 mt-4">
                                Lista Zdań : 
                            </div>
                            <ol class="sentence-list text-center">
                                <li *ngFor="let sentence of article.sentences;let i = index" class="mt-3 pl-2">
                                    <a href="javascript:void(0);" (click)="sentenceSelect(sentence.index)">
                                        <span>
                                            Zdanie {{i + 1}}
                                        </span>
                                    </a>
                                </li>
                            </ol>
                        </div>

                        <div class="col-4">
                            <div class="article-wnd card mt-4">
                                <div class="icon">
                                    <i class="fas fa-book-open"
                                        style="font-size: 60px;"
                                    ></i>
                                </div>
                                <div class="title">
                                    <h3>{{ article.name }}</h3>
                                </div>
                                <div class="info">
                                    <p><strong>Poziom trudności:</strong> {{ levelLabel }}</p>
                                    <p><strong>Ilosc zdań:</strong> {{ article.sentences.length }}</p>
                                    <p><strong>Ilosc zagadek:</strong> {{ secretsLength }}</p>
                                </div>
                                <div class="footer">
                                    <button
                                        type="button"
                                        class="btn btn-link"
                                        (click)="refreshAssignment()"
                                    >
                                        <i class="fas fa-sync-alt text-success"></i>
                                        Odśwież
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-link"
                                        (click)="backToLibrary()"
                                    >
                                        <i class="fas fa-times text-danger"></i>
                                        Zamknij
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>

            <div class="w-100" *ngIf="currentSentence; else sentenceList">
                <div class="article-header py-5">
                    <div class="container">
                        <div class="row">
                            <div class="left-btn-action"></div>
        
                            <div class="title" *ngIf="article && article.name">
                                <h1>{{ article.name }}</h1>
                            </div>
                            
                            <div class="right-btn-action">
                                <a class="close" (click)="backToLibrary()"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <!-- Preview -->
                    <ng-container *ngIf="!currentSentence.preview">
                        <div class="row">
                            <div class="w-100">
                                <div class="w-100 info-text">
                                    <fa-icon class ="text-info" [icon]="faInfoCircleIcon"></fa-icon>
                                    Uważnie przeczytaj tekst
                                </div>
                                <hr>
                                <div class="sentence-text">
                                    {{ currentSentence.text }}
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Assignment-->
                    <ng-container *ngIf="currentSentence.preview">
                        <div class="row">
                            <div class="w-100">
                                <div class="w-100 info-text">
                                    <fa-icon class ="text-info" [icon]="faInfoCircleIcon"></fa-icon>
                                    Uzupełnij brakujące słowa
                                </div>
                                <hr>
                                <div *ngIf="imagesFeature">
                                    <app-carousel [wordObject]="focusWord"></app-carousel>
                                    <hr>
                                </div>
                                <div class="sentence-text">
                                    <span *ngFor="let part of currentSentence.parts">
                                        <span *ngIf="part.type === 'text' || part.type === 'word' && !part.ask">
                                            {{ part.text }}
                                        </span>
                                        <span *ngIf="part.type === 'word' && part.ask"
                                                class="word"
                                                [ngClass]="{
                                                    'selected': focusWord && focusWord._id === part._id,
                                                    'all-good': part.success,
                                                    'error': !part.success
                                                }" >
                                                <!-- (focusout)="wordFocusOut()" -->
                                            <input type="text"
                                                    (focus)="wordOnFocus(part)"
                                                    [(ngModel)]="currentSentence.answers[part.index]"
                                                    (ngModelChange)="wordChangeHandler($event, part)"
                                                    required
                                                    [attr.disabled]="part.success ? '' : null" >
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div> <!-- currentSentence end -->

        </div> <!-- body -->

        <div class="row mt-4 mb-5 footer" *ngIf="currentSentence">
            <div class="container">
                <div class="row">
                    <div class="w-100"><hr></div>
                </div>
                <div class="d-flex justify-content-between">
                    <!-- sentences -->
                    <div class="btn-sentences" *ngIf="currentSentence">
                        <button class="btn btn-outline-info px-4" (click)="backToSentences()">
                            Lista Zdań
                        </button>
                    </div>
                    
                    <!-- do assignment -->
                    <div class="btn-assignment" *ngIf="!currentSentence.preview && !currentSentence.noAsk">
                        <button class="btn btn-outline-info px-4" (click)="doAssignment()">
                            Wykonaj Zadanie
                        </button>
                    </div>
                    
                    <!-- OR go next sentence -->
                    <div class="btn-next-sen" *ngIf="(currentSentence.preview || currentSentence.noAsk) && !isLastSentence(currentSentence.index)">
                        <button class="btn btn-outline-info px-4" (click)="sentenceSelect(currentSentence.index + 1)">
                            Następne Zdanie
                        </button>
                    </div>

                    <!-- finish -->
                    <div class="btn-next-sen" *ngIf="(currentSentence.preview || currentSentence.noAsk) && isLastSentence(currentSentence.index)">
                        <button class="btn btn-outline-success px-4" (click)="showFinishWindow()">
                            Finish
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>