<div class="library-page">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="tool-bar">
                    <div class="btn-toolbar pt-4 d-block text-right" role="toolbar">
                        <button
                            type="button" 
                            class="btn btn-light"
                            (click)="toggleFontSize()"
                        >
                            <i class="fas"
                                [ngClass]="{
                                    'fa-search-plus': !fontSizeIncreased,
                                    'fa-search-minus': fontSizeIncreased
                                }"
                            ></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- TODO: SEARCH -->
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3 search-field">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Szukaj" 
                        aria-label="Szukaj"
                        [(ngModel)]="searchInput"
                    >
                    <div class="input-group-prepend">
                        <button 
                            type="button" 
                            class="btn search-clear-btn"
                            [ngClass]="{
                               'btn-danger': searchInput,
                               'btn-outline-secondary': !searchInput
                            }" 
                            [attr.disabled]="!searchInput ? '' : null"
                            (click)="clearSearchInput()"
                        >
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row body">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="article-block mt-4" (click)="openCreateArticleModal()">
                    <div class="pic">
                        <i class="far fa-file" width="50" ></i>
                    </div>
                    <div class="name">
                        Utwórz artykuł
                    </div>
                </div>
            </div>
            <div *ngFor="let article of filterArticles(articleList); let i = index;"
                 class="col-sm-6 col-md-4 col-lg-3"
            >
                <div class="article-block mt-4" (click)="openAssignmentConfigModal(article, $event)">
                    <div class="tools">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button"
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                <fa-icon [icon]="faBarsIcon"></fa-icon>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="openEditArticleModal(article)">
                                    <fa-icon [icon]="faEditIcon"></fa-icon>
                                    Edytuj 
                                </a>
                                <a class="dropdown-item" (click)="deleteArticle(article)">
                                    <fa-icon [icon]="faTrashIcon"></fa-icon>
                                    Usuń
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pic">
                        <i class="fas fa-book" width="50" ></i>
                    </div>
                    <div class="name">
                        {{ article.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>