<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <ngb-carousel
                    *ngIf="wordObject"
                    [interval]="0"
                    [showNavigationArrows]="showNavigationArrows" 
                    [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of wordObject.images">
                    <img class="carousel-img" [src]="image.url">
                </ng-template>
            </ngb-carousel>
            <div class="no-picture-holder" *ngIf="!wordObject">
                <div class="wrapper">
                    <i class="far fa-image"></i>
                    <p>
                        <i class="fas fa-info-circle text-info"></i>
                        Wybierz pole wejściowe
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>