<div role="document" class="modal-dialog">

    <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                {{ title }}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            </button>
        </div>

        <div class="modal-body">
            <form [formGroup]="formGroup">
                <div class="container-fluid">
                    <!-- Name -->
                    <div class="row">
                        <div class="col form-group">
                            <label for="form-client-name">Nazwa Artykułu</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="form-name" 
                                    autofocus
                                    formControlName="name"
                                    [ngClass]="{ 
                                        'is-invalid': submitted && f.name.errors 
                                    }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">
                                    Nazwa artykułu jest wymagana
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Article text -->
                    <div class="row">
                        <div class="col form-group">
                            <label for="form-client-note">Treść Artykułu</label>
                            <textarea class="form-control" 
                                    id="form-text" 
                                    rows="3" 
                                    formControlName="text">
                            </textarea>
                        </div>
                        <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
                            <div *ngIf="f.text.errors.required">
                                    Treść Artykułu jest wymagana
                            </div>
                        </div>
                    </div>
                    <!-- Error Handler -->
                    <div class="row" *ngIf="error">
                        <div class="col">
                            <div class="alert alert-danger">{{error}}</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- Footer Buttons -->
        <div class="modal-footer bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-secondary btn-block"
                            (click)="activeModal.close('Close click')">
                            Anulować
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success btn-block" (click)="submitHandler()">
                            Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>